@model List<MonitoringModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <td>
            <b>SecId</b>
        </td>
        <td>
            <b>ShortName</b>
        </td>
        <td>
            <b>TradeDate</b>
        </td>
        <td>
            <b>Close</b>
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.SecId
            </td>
            <td>
                @item.ShortName
            </td>
            <td>
                @item.TradeDate
            </td>
            <td>
                @item.Close
            </td>
        </tr>
    }
</table>

