<link rel="stylesheet" href="~/css/ForgotPassword.css" />

<div class="forgot-page">
    <div class="forgot-form">
        <input type="email" name="Email" id="Email" value="" placeholder="e-mail" />
        <label class="validation validation-email hidden-element"></label>

        <button class="forgot-button">ВОССТАНОВИТь</button>
    </div>
</div>
<script src="~/js/forgot.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(function () {
        new forgotPack.ForgotPassManager('@Url.Action("ForgotPassword")');
    });
</script>