<div class="sell-tooltip-wrapper hidden-element">
    <div class="sell-tooltip">
        <label class="title"></label>
        <div class="input-group date" data-provide="datepicker">
            <label>Sell date</label>
            <input type="text" class="form-control date-input">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
        <div class="input-group price">
            <label>Price</label>
            <input type="number" class="form-control price-input">
        </div>
        <div class="input-group number">
            <label>Number</label>
            <input type="number" class="form-control number-input">
        </div>
        <div class="manage-buttons">
            <button class="confirm">Accept</button>
            <button class="cancel">Cancel</button>
        </div>
    </div>
</div>

