
@{
    ViewData["Title"] = "Index";
}

<h1>In Progress</h1>

<script type="text/javascript">
    document.getElementById('monitoring-link').style.color = "rgb(255, 255, 255)";
    document.getElementById('inprogress-link').style.color = "red";
</script>

